.help-body {
    overflow: hidden;
    height: calc(100vh - 160px);
}

.help-container {
    max-width: 1016px;
    margin-top: 80px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.help-container::-webkit-scrollbar {
    width: 4px; 
}

.help-container::-webkit-scrollbar-track {
  background: #fff;
}

.help-container::-webkit-scrollbar-thumb {
  background: #A8A8A8;
  border-radius: 2px; 
}

.help-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: hsl(0, 0%, 60%);
}

.help-container::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 54%); 
}    

.help {
    align-items: flex-start;
    justify-content: space-between;
    margin: 48px 16px 0;
}

.help h1 {
    
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700;
    color: #000;
}

.help-arrow-left {
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: transform 10ms linear; 
}

.help-arrow-left:active {
    transform: scale(1.15);
}

.help-text {
    margin: 16px 16px 184px;
}

.help-text h1 {
    font-size: 24px;
    padding: 32px 0 16px;
}

.help-text h2 {
    font-size: 20px;
    padding: 0 0 16px;
    margin: 0;
}

.help-text h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
}

.help-text p,
.help-text li {
    font-size: 14px;
}

.help-padding-16 {
    padding-bottom: 16px;
}

.help-padding-24 {
    padding-bottom: 24px;
}

.help-link {
    text-decoration: none;
}

.help-grid-layout {
  display: grid;
  grid-template-columns: 56px minmax(auto, 958px);
}

.help-number {
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 700;
    color: #000;
}

@media only screen and (min-width: 440px) {
    .help-text h1 {
        font-size: 32px;
    }

    .help-text h2 {
        font-size: 24px;
    }

    .help-text p,
    .help-text li {
        font-size: 16px;
    }
}

@media only screen and (min-width: 576px) {
    .help {
        margin: 48px 96px 0 96px;
        align-items: center;
    }

    .help-text {
        margin: 16px 96px 184px;
    }
}

@media only screen and (min-width: 1200px) {
    .help-body {
        height: calc(100vh - 96px);
    }

    .help-container {
        margin-left: 232px;
        margin-top: 96px;
        height: calc(100vh - 96px);
    }
    
    .help {
        margin: 110px 96px 0 96px;
        align-items: center;
    }

    .help-text {
        margin: 16px 96px 110px;
    }

    .help h1 {
        font-size: 61px;
        line-height: 73.2px;
    }

    .help-arrow-left {
        height: 37px;
        width: 37px;
    }

    .help-arrow-left:hover {
        transform: scale(1.15);
    }
}

@media only screen and (min-width: 1120px) {
    .help-container::-webkit-scrollbar {
        width: 0px; /* Hide scrollbar */
    }
}